@charset "utf-8";

/* # =================================================================
   # Global selectors
   # ================================================================= */

@font-face {
  font-family: 'PixelMplus12';
  src: url('https://robodone-dev.github.io/robotan/PixelMplus-20130602/PixelMplus12-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'PixelMplus12-bold';
  src: url('https://robodone-dev.github.io/robotan/PixelMplus-20130602/PixelMplus12-Bold.ttf') format('truetype');
}

html {
  box-sizing: border-box;
  overflow-y: scroll; /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%; /* iOS 8+ */
  height: 100%;/*高さを100%にして描画エリアをとる*/
}

body{
  font-family: 'PixelMplus12',sans-serif;
	height: 100%;/*高さを100%にして描画エリアをとる*/
}


*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}


.sub-text{
  color:#fff;
}

.sub-help{
  color:#fff;
  margin-top:10px;
  font-size:13px;
}


  #btn {
    width: 200px;
    margin: 0 auto;
    padding: 7px;
    border-radius: 5px;
    background: #eb6100;
    box-shadow: 0 4px 0 #b84c00;
    cursor: pointer;
    font-weight:bold;
  }
  #btn:hover {
    opacity: 0.8;
  }
  #card {
    margin: 20px auto 50px;
    width: 400px;
    height: 100px;
    cursor: pointer;
    font-size: 38px;
    font-weight:bold;
    font-family: sans-serif;
    line-height: 100px;
    perspective: 100px;
    transform-style: preserve-3d;
    transition: transform .8s;
  }
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    #card {
    margin: 20px auto 50px;
    width: 250px;
    height: 80px;
    cursor: pointer;
    font-size: 26px;
    font-weight:bold;
    font-family: sans-serif;
    line-height: 80px;
    perspective: 100px;
    transform-style: preserve-3d;
    transition: transform .8s;
  }
  
}


  #card-front, #card-back {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
  }
  #card-front {
    background: #faf0e6;
    color: #333;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
  }
  #card-back {
    background: #00aaff;
    transform: rotateY(180deg);
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
  }
  .open {
    transform: rotateY(180deg);
  }

/*========= レイアウトのためのCSS ===============*/

#wrapper{
	display: flex;
  flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align:center;
	color: #fff;
  transform:translate3d(0,0,0);
}

#clear_wapper{
  position: absolute;
  width:1000px;
  height:200px;
  background:#000;
  z-index:5;
  
}

/*========= particle js を描画するエリア設定 ===============*/


#particles-js{ 
	position:fixed;/*描画固定*/
	z-index:-1;/*描画を一番下に*/
	width: 100%;
	height: 100%;
	/*background-color:#f5f8f;/*背景色*/ 
  background: url("https://robodone-dev.github.io/robotan/220723_2.gif"),
    linear-gradient(31deg, rgba(196, 182, 197, 1) 10%, rgba(35, 117, 163, 1));
  /*background-color: #043564; */
  /*background-image: url("https://robodone-dev.github.io/robotan/WieecLF.png");*/
  background-repeat: no-repeat,repeat;
  background-size: 128px,100%; 
  background-position: 50% 6%;

}

#wrapper{
	position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
	z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
	width:100%;
	height: 100%;
}

#total-word-count{
  color:#fff;
  font-size:20px;
  padding:15px;
  margin-bottom:20px;
  border:2px solid #fff;
}

#total-word-count::before{
  content:'この単語帳は ';
  color:#fff;
  font-size:20px;
}

#total-word-count::after{
  content:' 種類です';
  color:#fff;
  font-size:20px;
}

#counter{
  font-size: 1pt;
  color:#fff;
  text-align: center;
}

#tmpVal{
  color:#000;
}

#myProgress {
  position: relative;
  width: 100%;
  background-color: #ddd;
}

#myBar {
  position: fixed;
	bottom: 0;
  width: 0%;
  height: 40px;
  background-color:#42CD97;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 40px; /* To center it vertically */
  color: white;
  transition-duration: 1.5s;
  transition-delay: 0.1s;
}


.show-modal {
  display:none;
}

.show-mode-modal {
  display:none;
}

.close-modal {
  position: absolute;              /* modalを閉じるボタン */
  top: 4px;
  right: 22px;
  font-size: 40px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.close-mode-modal {
  position: absolute;              /* modalを閉じるボタン */
  top: 4px;
  right: 22px;
  font-size: 40px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;            /* hiddenクラスが付与されている場合は表示させないようにする */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  color: rgb(255, 0, 0);
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);   /* modalに影を作る */
  z-index: 10;           /* z-indexでmodalを一番上に位置させる */
}

.mode-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  color: rgb(255, 0, 0);
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);   /* modalに影を作る */
  z-index: 10;           /* z-indexでmodalを一番上に位置させる */
}

.modal p{
  font-size:0.8rem;
  font-weight:bold;
  text-align:center;
}

.mode-modal p{
  font-size:0.8rem;
  font-weight:bold;
  text-align:center;
}


.overlay {
  position: absolute; /* overlayの絶対位置を左上を起点にし幅と高さを100%にする */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);    
  backdrop-filter: blur(3px); /* 一番下のbody領域をぼやかす */
  z-index: 5; /* z-indexの数字を0と10の間の数字にし、bodyとmodalの真ん中に位置させる */
}

.overlay-white {
  position: absolute; /* overlayの絶対位置を左上を起点にし幅と高さを100%にする */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);    
  backdrop-filter: blur(2px); /* 一番下のbody領域をぼやかす */
  z-index: 5; /* z-indexの数字を0と10の間の数字にし、bodyとmodalの真ん中に位置させる */
}

/* ナビメニュー */

.radio02{
  display: flex;
	flex-wrap: wrap;
  justify-content:center;
  /*margin:0 20px 40px 20px;
  padding:25px 20px;*/
  background:rgb(255,255,255,0.2);
  border-radius:15px;
}

.radio02 input{
	display: none;
}
.radio02 label{
  position: relative;
	display: block;
  float:left;
	cursor: pointer;
	width: 130px;
	margin:5px 5px 5px 5px;
	padding: 2.4% 0 2.5% 0;
  border-radius:20px;
	background: #e5e5e5;
	color: #555e64;
  font-weight:900;
	font-size: 13px;
  font-family: 'PixelMplus12-bold';
	text-align: center;
	line-height: 1;
	transition: .5s;
}
.radio02 label:first-of-type{
}
.radio02 label:last-of-type{
	border-right: 0px;
}
.radio02 input[type="radio"]:checked + label {
	background-color: #42CD97FF;
	color: #fff;
}

/*　アイコンボタン */
#optionButtun{
  position:fixed;
  right:25px;
  bottom:50px;
}

#optionButtun  input{
    display: none; /* デフォルトのinputは非表示にする */
    
}
#optionButtun span {
    background:#fff;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 20px 20px; /* 上下左右に余白をトル */
    background:rgb(255,255,255,0.7);
}
#optionButtun span::before{
    font-family: "Font Awesome 5 Free";
    content:"\f03a";
    font-weight: 900;
    font-size:20px;
    color:rgb(0,0,0,0.7);;
}
#optionButtun input:checked + span {
    color: #FFF; /* 文字色を白に */
    background: #FBB; /* 背景色を薄い赤に */
}


