@charset "utf-8";

/* # =================================================================
   # Global selectors
   # ================================================================= */

html {
  box-sizing: border-box;
  overflow-y: scroll; /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%; /* iOS 8+ */
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

.title-logo img{
  width:20%;
  margin:50px 30px 55px 30px;
}

.sub-text{
  color:#000;
}

.sub-help{
  color:#000;
  margin-top:10px;
  font-size:13px;
}


  #btn {
    width: 200px;
    margin: 0 auto;
    padding: 7px;
    border-radius: 5px;
    background: #eb6100;
    box-shadow: 0 4px 0 #b84c00;
    cursor: pointer;
    font-weight:bold;
  }
  #btn:hover {
    opacity: 0.8;
  }
  #card {
    margin: 20px auto 50px;
    width: 400px;
    height: 100px;
    cursor: pointer;
    font-size: 38px;
    font-weight:bold;
    line-height: 100px;
    perspective: 100px;
    transform-style: preserve-3d;
    transition: transform .8s;
  }
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    #card {
    margin: 20px auto 50px;
    width: 250px;
    height: 80px;
    cursor: pointer;
    font-size: 26px;
    font-weight:bold;
    line-height: 80px;
    perspective: 100px;
    transform-style: preserve-3d;
    transition: transform .8s;
  }
  
}


  #card-front, #card-back {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
  }
  #card-front {
    background: #faf0e6;
    color: #333;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
  }
  #card-back {
    background: #00aaff;
    transform: rotateY(180deg);
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
  }
  .open {
    transform: rotateY(180deg);
  }

/*========= レイアウトのためのCSS ===============*/

#wrapper{
	display: flex;
  flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align:center;
	color: #fff;
}

#clear_wapper{
  position: absolute;
  width:1000px;
  height:200px;
  background:#000;
  z-index:5;
}

/*========= particle js を描画するエリア設定 ===============*/

html,body{
	height: 100%;/*高さを100%にして描画エリアをとる*/
}

#particles-js{ 
	position:fixed;/*描画固定*/
	z-index:-1;/*描画を一番下に*/
	width: 100%;
	height: 100%;
	background-color:#f5f8fd;/*背景色*/
}

#wrapper{
	position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
	z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
	width:100%;
	height: 100%;
}

#counter{
  font-size: 1pt;
  color:#fff;
  text-align: center;
}

#myProgress {
  position: relative;
  width: 100%;
  background-color: #ddd;
}

#myBar {
  position: fixed;
	bottom: 0;
  width: 0%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

.show-modal {
  display:none;
}

.close-modal {
  position: absolute;              /* modalを閉じるボタン */
  top: 4px;
  right: 22px;
  font-size: 40px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;            /* hiddenクラスが付与されている場合は表示させないようにする */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: rgb(255, 0, 0);
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);   /* modalに影を作る */
  z-index: 10;           /* z-indexでmodalを一番上に位置させる */
}

.modal p{
  font-size:0.8rem;
  font-weight:bold;
  text-align:center;
}

.overlay {
  position: absolute; /* overlayの絶対位置を左上を起点にし幅と高さを100%にする */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);    
  backdrop-filter: blur(3px); /* 一番下のbody領域をぼやかす */
  z-index: 5; /* z-indexの数字を0と10の間の数字にし、bodyとmodalの真ん中に位置させる */
}
